* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin:2rem;
    background-color: #EFF1ED;
    font-family:"lora";
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 4rem;
}

img{
    width:25rem;
}

.container {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

h1 {
    margin: 0;
    color: black;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.infopart{
    margin:1rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    width: 60rem;
    white-space: pre-line;
}

#textcontent1{
    padding:1.5rem;
    margin-right:4rem;
    background:#618B4A;
    border-radius:1rem;
    color:#EFF1ED;

}

#textcontent2{
    padding:1.5rem;
    margin-right:4rem;
    background:#40531B;
    border-radius:1rem;
    color:#EFF1ED;
}

#textcontent3{
    padding:1.5rem;
    margin-right:4rem;
    background:#618B4A;
    border-radius:1rem;
    color:#EFF1ED;
}

#textcontent4{
    padding:1.5rem;
    margin-right:4rem;
    background:#40531B;
    border-radius:1rem;
    color:#EFF1ED;
}

#textcontent5{
    padding:1.5rem;
    margin-right:4rem;
    background:#618B4A;
    border-radius:1rem;
    color:#EFF1ED;
}

#utslipp{
    padding:2rem;
    margin-right:4rem;
    background:#40531B;
    border-radius:1rem;
    color:#EFF1ED;
    display:flex;
    flex-direction:column;
    gap:1.5rem;
}

#emissionstable{
    width:50rem;
    height:30rem;
    background:#EFF1ED;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:end;
    border-radius:1rem;
}

#emissioncolumns{
    display:flex;
    flex-direction:row;
    gap:12rem;
    align-items: flex-end;
}

#yourfactory{
    background: #618B4A;
    width:8rem;
    text-align:center;
}

#averagefactory{
    background:#4b7635;
    width: 8rem;
    text-align:center;
}

#textcontent7{
    padding:1.5rem;
    margin-right:4rem;
    background:#618B4A;
    border-radius:1rem;
    color:#EFF1ED;
}